<div class="bg-light  px-4 py-0" style="width:90vw;margin-top: -50px;">
<button type="button" class="btn btn-success ms-auto" style="float: right;" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
          Logout
        </button>

        <!-- Modal -->
        <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
          aria-labelledby="staticBackdropLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Logout</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                Are you sure you want to Logout?
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <a href="/admin/logout"><button type="button" class="btn btn-danger">Logout</button></a>
              </div>
            </div>
          </div>
        </div>
</div>
<div class="container-xxl position-relative bg-white d-flex p-0">
    <!-- Sidebar Start -->
    <div class="sidebar pe-4 mt-5">
        <nav class=" bg-light" style="width: 300px!important; text-align: center; font-size: 15px;">
            <a href="index.html" class="navbar-brand ">
                <h3 class="text-primary">Add Products</h3>
            </a>
            <div class="d-flex align-items-center ms-4"></div>
            <div class="navbar-nav w-100">
                <a href="/admin/dashboard" class="nav-item nav-link active"><i class="fa fa-tachometer-alt me-2"></i>Dashboard</a>
                <a href="/admin/inventory" class="nav-item nav-link">Inventory</a>
                <a href="/admin/order" class="nav-item nav-link">Orders</a>
                <a href="/admin/salesreport" class="nav-item nav-link">Sales Report</a>
                <a href="/admin/coupons" class="nav-item nav-link">Coupons</a>
                <a href="/admin/category" class="nav-item nav-link">Categories</a>
                <a href="/admin/users" class="nav-item nav-link">users</a>
                {{!-- <a href="/admin/returnProd" class="nav-item nav-link">ReturnProduct</a> --}}
            </div>
        </nav>
    </div>
    <div class="bg-light rounded d-flex align-items-center justify-content-between mt-5">
      <div class="container">
        <div class="row">
          <div class=" col-md-12 mx-auto">
            <center> <button class=" stroke bg-light mt-2"><h2>STROKE</h2></button><br></center> <br>
            <center><button class=" stroke bg-light mb-2">Edit Product</button></center>
          </div>
        <div class="col-md-6">
          <form class="row" action="" enctype="multipart/form-data" method="POST">  
            <div>
              <p class="text-success">{{message}}</p>
            </div>            
            <div class="col-md-12">
              <label for="inputName4" class="form-label">Product Name</label>
              <input type="text" name="name" class="form-control"  value="{{ProductData.name}}" id="inputName4">
            </div>                
            <div class="col-md-12">
              <br>
              <select class="form-select" name="category"   aria-label="Default select example">
                <option selected >{{ProductData.category}}</option>
                {{#each categories}}
                <option value="{{this.name}}">{{this.name}}</option>
                {{/each}}
              </select>
            </div>
              <br>
              <div class="col-md-12">
                <label for="inputEmail4" class="form-label">Description</label>
                <input type="text" value="{{ProductData.description}}"  name="description" class="form-control" id="inputEmail4">
              </div>
              <div class="col-md-12">
                <label for="inputMobile4" class="form-label">Price</label>
                <input type="number" min="1" value="{{ProductData.price}}"  name="price" class="form-control" id="inputMobile4">
              </div>
              <div class="col-md-12">
                <label for="inputPassword4" class="form-label">Stock</label>
                <input type="number" min="1" value="{{ProductData.stock}}"  name="stock" class="form-control" id="inputPassword4">
              </div>
              <div class="col-md-12">
                <label for="inputPassword4" class="form-label">Brand</label>
                <input type="text" value="{{ProductData.brand}}"  name="brand" class="form-control" id="inputPassword4">
              </div>
              <div class="col-md-12">
                <label for="inputFile4" class="form-label">Image</label>
                <input style="width: 300px;" multiple type="file" onchange="imageAmount(this)"  name="image" class="form-control" id="inputFiled4">
                <input type="hidden" id="imageArray" value="{{ProductData.image}}">
                <div id="message" class="text-danger"></div>
              </div><br>       
              <div class="col-md-12">
                <button type="submit" id="updateButton" class="btn btn-primary subButton">Update</button>
              </div>
              </form>
            </div>
          <div class="col-md-6">
            <center>Images</center>
            <div class="row">
               {{#each ProductData.image}}
              <div class="col-md-3">
            <div class="card" style="width:7rem;">
              <img src="/{{this}}" style="width: 6.9rem;height: 6.9rem;" class="card-img-top" alt="...">
              <div class="card-body" style="width: 5rem;">
                 <button type="button" class="btn btn-danger" data-bs-toggle="modal" onclick="remove('{{this}}','{{../ProductData._id}}')" data-bs-target="#exampleModal">Remove</button> 
              </div>
            </div>
           
            </div>
             {{/each}}
            </div>
          </div>
        </div>
           
    </div>
  </div>
</div>
<div class="col-2">
    <div class="modal fade mt-5" style="margin-top: 30vh!important;" id="exampleModal" style="" tabindex="10" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Delete Category?</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    Are you sure want to delete this category...?
                    <input type="hidden" id="imageName">
                    <input type="hidden" id="productId">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                    <button type="button" id="remove" class=" btn btn-danger">Yes</button>
                </div>
            </div>
        </div>
    </div>                     
</div>
<script>
  function remove(name,id){
    document.getElementById('imageName').value = name
    document.getElementById('productId').value = id
  }


  $('#remove').click(function () {
    const imageName = document.getElementById('imageName').value
    const productId = document.getElementById('productId').value
  $.ajax({
    type: 'POST',
    url: '/admin/removeProductImage',
    data: {
       imageName: imageName,
       productId: productId
        },
    success: function (data) {
      // handle success
      location.reload()
    },
    error: function (error) {
      // handle error
      console.error('Failed to add item to cart');
    }
  });
});

function imageAmount(data){
  const img  = document.getElementById('imageArray').value
  const imgArr = img.split(',').length
  const remaining = 5-imgArr
if(data.files.length <= remaining ){
   document.getElementById('message').style.display = 'none'
  document.getElementById('updateButton').style.display = 'block'
}else{
  document.getElementById('message').innerHTML = `Available image slot : ${remaining}.Delete images to add new`
  document.getElementById('updateButton').style.display = 'none'
}
}
</script>